._sub._company._ceo{ width: 100%; overflow: hidden; position: relative; padding-bottom: 0; }
._sub._company._ceo .visuals{ margin-top: 50px; width: 100%; overflow: hidden; position: relative; padding: 185px 0; }
._sub._company._ceo .visuals .bg{ width: 100%; position: absolute; top: 0; left: 0; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; animation: scale 1.5s ease-in-out; z-index: 0; }

@keyframes scale {
    0%{ transform: scale(1.2); }
    100%{ transform: scale(1); }
}

._sub._company._ceo .visuals dl{ position: relative; z-index: 1; }
._sub._company._ceo .visuals dl dt{ color: #6e7cff; font-family: 'Outfit', sans-serif; font-size: 24px; font-weight: 500; letter-spacing: -0.025em; }
._sub._company._ceo .visuals dl dd{ font-size: 42px; line-height: calc(58 / 42); letter-spacing: -0.019em; color: #f2f2f4; font-weight: 500; margin-top: 20px; }

._sub._company._ceo .visuals .scbx{ width: 20px; height: 36px; border-radius: 10px; border: 1px solid #fff; position: absolute; left: 50%; bottom: 30px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; }
._sub._company._ceo .visuals .scbx span{ width: 4px; height: 4px; background-color: #fff; border-radius: 50%; display: block; animation: wheel 1s alternate-reverse infinite ease-in-out; }

@keyframes wheel {
    0%{ transform: translateY(-6px); }
    100%{ transform: translateY(6px); }
}


._sub._company._ceo .se01{ padding-top: 150px; padding-bottom: 95px; }
._sub._company._ceo .se01 .subwrap > strong{ display: block; padding-left: 50px; font-size: 5.4167vw; color: #3e68ff; line-height: calc(96 / 104); font-family: 'Outfit', sans-serif; font-weight: 700; letter-spacing: -0.025em; box-sizing: border-box; }

@media screen and (min-width: 1921px){
    ._sub._company._ceo .se01 .subwrap > strong{ font-size: 104px; }
}

._sub._company._ceo .se01 .subwrap .tbx{ width: 100%; display: flex; flex-direction: column; align-items: flex-end; margin-top: 90px; }
._sub._company._ceo .se01 .subwrap .tbx p{ font-size: 22px; letter-spacing: -0.019em; font-weight: 500; line-height: calc(34 / 22); color: #6d6e72; padding-right: 30px; box-sizing: border-box; }
._sub._company._ceo .se01 .subwrap .tbx p span{ color: #3e68ff; }
._sub._company._ceo .se01 .subwrap .tbx em{ display: flex; align-items: center; justify-content: flex-end; margin-top: 25px; padding-right: 50px; box-sizing: border-box; }
._sub._company._ceo .se01 .subwrap .tbx em b{ font-size: 18px; letter-spacing: -0.019em; color: #919295; font-weight: 500; }
._sub._company._ceo .se01 .subwrap .tbx em img{ mix-blend-mode: darken; margin-left: 20px; }



._sub._company._ceo .se02 .pin_{ width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; background-color: #2d2d2f; color: #f2f2f4; }
._sub._company._ceo .se02 .pin_ dl dt{ font-size: 24px; letter-spacing: -0.025em; color: #6e7cff; font-family: 'Outfit', sans-serif; font-weight: 500; }
._sub._company._ceo .se02 .pin_ dl dd{ font-size: 2.0833vw; letter-spacing: -0.019em; line-height: calc(56 / 40); text-align: center; position: relative; font-weight: 500; margin-top: 25px; display: flex; align-items: center; justify-content: center; flex-direction: column; }
._sub._company._ceo .se02 .pin_ dl dd p{ display: inline-block; position: relative; }
._sub._company._ceo .se02 .pin_ dl dd p b{ display: block; width: 100%; height: 102%; top: -1%; background-color: rgba(45, 45, 47, 0.8); position: absolute; left: 0; }

._sub._company._ceo .se02 .lists{ width: 95%; max-width: 1225px; margin: 0 auto; padding: 215px 0; }
._sub._company._ceo .se02 .lists li{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 105px; }
._sub._company._ceo .se02 .lists li:nth-of-type(2n){ flex-direction: row-reverse; }
._sub._company._ceo .se02 .lists li:last-of-type{ margin-bottom: 0; }
._sub._company._ceo .se02 .lists li .thumb{ width: calc(561 / 1225 * 100%); border-radius: 41px; overflow: hidden; position: relative; }
._sub._company._ceo .se02 .lists li .thumb ._max{ background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; }
._sub._company._ceo .se02 .lists li .thumb ._max::after{ content: ''; display: block; padding-bottom: calc(701 / 561 * 100%); }
._sub._company._ceo .se02 .lists li > dl{ width: calc(570 / 1225 * 100%); padding-left: 20px; box-sizing: border-box; }
._sub._company._ceo .se02 .lists li > dl dt{ font-size: 20px; font-family: 'Outfit', sans-serif; letter-spacing: -0.025em; color: #3164ff; font-weight: 500; }
._sub._company._ceo .se02 .lists li > dl dd{ font-size: 24px; letter-spacing: -0.019em; color: #2d2d2f; line-height: calc(37 / 24); margin-top: 20px; font-weight: 600; }

._sub._company._ceo .se02 .lists li:nth-of-type(2n) > dl{ text-align: right; }