._wrap {
  margin: 0 auto;
}
._wrap[max="1860"] {
  max-width: 1860px;
}
@media screen and (max-width: 820px) {
  ._wrap {
    width: 95%;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header ._wrap {
  padding: 26px 60px 26px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .depth {
  font-family: "Pretendard" "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025em;
  display: flex;
  gap: 1.1111111111em;
}
.header .depth a {
  padding: 0.5em 1.0555555556em 0.5555555556em 1.2777777778em;
  display: inline-block;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  color: #161618;
  transition: color 0.4s;
}
.header .depth a p {
  position: relative;
  z-index: 2;
}
.header .depth a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgb(62, 104, 255);
  background: linear-gradient(270deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  border-radius: 1000px;
  transition: right 0.4s;
}
.header .depth a:last-child {
  background: #38383a;
  color: #f2f2f4;
}
.header .depth a:hover {
  color: #f2f2f4 !important;
}
.header .depth a:hover::after {
  right: 0;
}
.header .menu {
  position: relative;
  width: 25px;
  height: 15px;
  cursor: pointer;
  display: none;
}
.header .menu div {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
}
.header .menu div:nth-of-type(1) {
  top: 0;
}
.header .menu div:nth-of-type(2) {
  top: 50%;
}
.header .menu div:nth-of-type(1) {
  top: 100%;
}
.header.on .logo {
  filter: brightness(0) invert(1);
}
.header.on .depth a {
  color: #f2f2f4;
}
.header.on .depth a:last-child {
  background: #f2f2f4;
  color: #212123;
}
@media screen and (max-width: 1280px) {
  .header ._wrap {
    padding: 26px 3.125% 26px 1.5625%;
  }
}
@media screen and (max-width: 1024px) {
  .header .depth {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .header ._wrap {
    padding: 24px 0;
  }
  .header .logo {
    width: 137px;
  }
  .header .depth {
    display: none;
  }
  .header .menu {
    display: block;
  }
}

.footer {
  background: #212123;
  color: #f2f2f4;
  padding: 35px 5.2083333333% 67px 5.46875%;
  box-sizing: border-box;
}
.footer nav {
  font-size: 14px;
  letter-spacing: -0.025em;
  display: flex;
  gap: 10px;
}
.footer nav a {
  color: #7a7b7e;
}
.footer .flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .flex .lt dl dt {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #dfe0e2;
  font-size: 52px;
  display: flex;
  align-items: center;
}
.footer .flex .lt dl dt i {
  margin-right: 0.2115384615em;
}
.footer .flex .lt dl dd {
  font-size: 14px;
  letter-spacing: -0.025em;
  color: #7a7b7e;
  margin-top: 2.0714285714em;
  line-height: normal;
}
.footer .flex .rt {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  gap: 155px;
}
.footer .flex .rt .family {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.025em;
  font-family: "Pretendard";
  width: 11.6428571429em;
  height: 2.9992857143em;
  border: 1px solid #dfe0e2;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c3c3c3;
  cursor: pointer;
}
.footer .flex .rt .family i {
  font-size: 1.2142857143em;
  letter-spacing: -0.025em;
  margin-left: 1.0588235294em;
  display: inline-block;
}
.footer .flex .rt .address {
  display: flex;
  gap: 0 95px;
  font-family: "Pretendard";
  font-size: 17px;
  letter-spacing: -0.025em;
}
.footer .flex .rt .address .l .col {
  gap: 75px;
}
.footer .flex .rt .address .l .col span {
  width: 102px;
}
.footer .flex .rt .address .r .col {
  gap: 86px;
}
.footer .flex .rt .address .r .col span {
  width: 128px;
}
.footer .flex .rt .address .col {
  display: flex;
  color: #7a7b7e;
  line-height: 1.7058823529;
}
.footer .flex .rt .address .col span {
  color: #dfe0e2;
  line-height: 2;
  white-space: nowrap;
}
@media screen and (max-width: 1480px) {
  .footer {
    padding: 35px 2.5% 67px;
  }
  .footer .flex .lt dl dt {
    font-size: 48px;
  }
  .footer .flex .rt .address {
    gap: 45px;
  }
  .footer .flex .rt .address .l .col {
    gap: 35px;
  }
  .footer .flex .rt .address .r .col {
    gap: 35px;
  }
}
@media screen and (max-width: 1280px) {
  .footer .flex .lt dl dt {
    font-size: 38px;
  }
  .footer .flex .rt .address {
    font-size: 14px;
  }
  .footer .flex .rt .address .l .col span {
    width: 85px;
  }
  .footer .flex .rt .address .r .col span {
    width: 108px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .flex {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 50px;
  }
  .footer .flex .lt {
    order: 2;
  }
  .footer .flex .rt {
    align-items: normal;
    gap: 50px;
    margin-top: 50px;
  }
  .footer .flex .rt .family {
    margin-left: auto;
  }
}
@media screen and (max-width: 820px) {
  .footer {
    padding: 50px 2.5%;
  }
  .footer .flex .lt dl dt {
    font-size: 32px;
  }
  .footer .flex .rt .family {
    margin-left: 0;
    margin-right: auto;
  }
  .footer .flex .rt .address {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer .flex .rt .address .l .col {
    gap: 15px;
  }
  .footer .flex .rt .address .l .col span {
    width: 108px;
    flex: 0 0 auto;
  }
  .footer .flex .rt .address .r .col {
    gap: 15px;
  }
}

.ask {
  height: 41px;
  width: 142px;
  border-radius: 20px 20px 0 0;
  background: rgb(62, 104, 255);
  background: linear-gradient(325deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  color: #f2f2f4;
  font-size: 17px;
  letter-spacing: -0.025em;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(51px, -50%) rotate(-90deg);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}
.ask i {
  margin-left: 0.8888888889em;
  font-size: 1.0588235294em;
}

.cursor-point {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  z-index: 999;
  background: rgb(62, 104, 255);
  background: linear-gradient(278deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  pointer-events: none;
}

._main .section01 {
  background: #f2f2f4;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
._main .section01 .init {
  background: rgb(62, 104, 255);
  background: linear-gradient(180deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
._main .section01 .move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f4;
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
._main .section01 .move h1 {
  font-size: 5.625vw;
  letter-spacing: -0.025em;
  color: #161618;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-align: center;
}
._main .section01 .move .up_scale {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
._main .section01 .move .up_scale .scrollDown {
  width: 161px;
  height: 161px;
  background: rgb(62, 104, 255);
  background: linear-gradient(-118deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
._main .section01 .move .up_scale .scrollDown .text {
  background: url(/asset/image/main/scroll_down.png) no-repeat center/cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  animation: wave 10s infinite linear;
}
._main .section01 .move .up_scale .scrollDown .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
._main .section01 .move .up_scale .movie_video {
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-50%);
  position: absolute;
}
._main .section01 .move .up_scale .movie_video .swiper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
._main .section01 .move .up_scale .movie_video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section01 .move .up_scale .movie_video ul {
  position: absolute;
  left: 117px;
  bottom: 59px;
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-family: "Pretendard";
  letter-spacing: -0.025em;
  font-weight: 600;
  z-index: 5;
}
._main .section01 .move .up_scale .movie_video ul li {
  color: #c6c7c9;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  font-style: italic;
  cursor: pointer;
  transition: 0.4s;
  transition-property: color, border;
}
._main .section01 .move .up_scale .movie_video ul li.act {
  color: #f2f2f4;
  border-color: #f2f2f4;
}
._main .section01 .move .up_scale .movie_video ul li:hover {
  color: #f2f2f4;
  border-color: #f2f2f4;
}
@media screen and (max-width: 1024px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 131px;
    height: 131px;
  }
  ._main .section01 .move h1 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 820px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 111px;
    height: 111px;
  }
  ._main .section01 .move h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 480px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 91px;
    height: 91px;
  }
}
._main .section02 {
  background: #28272c;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
._main .section02 .tbx {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #f2f2f4;
}
._main .section02 .tbx h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 52px;
}
._main .section02 .tbx a {
  font-size: 18px;
  letter-spacing: -0.025em;
  width: 7.4438888889em;
  height: 2.3327777778em;
  margin: 1.7777777778em auto 0;
  font-weight: 500;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid #f2f2f4;
  box-sizing: border-box;
}
._main .section02 .tbx a .poa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}
._main .section02 .tbx a .poa i {
  font-size: 0.8888888889em;
  margin-left: 0.4375em;
}
._main .section02 .tbx a .over {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background: rgb(62, 104, 255);
  background: linear-gradient(305deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  transition: 0.4s;
}
._main .section02 .tbx a:hover .over {
  left: 0;
}
._main .section02 .flex {
  display: flex;
  align-items: flex-start;
  gap: 440px;
  padding: 0 8.8541666667%;
}
._main .section02 .grid {
  flex: 1;
  gap: 36px;
  display: grid;
  align-items: start;
}
._main .section02 .grid .card {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
._main .section02 .grid .card::after {
  content: "";
  display: block;
  padding-bottom: 56.2602515036%;
}
._main .section02 .grid .card img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section02 .grid .card .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #2d2d2f;
  opacity: 0.85;
  width: 77.7791495441%;
  border-radius: 1000px;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  transition: -webkit-clip-path 0.8s ease-in;
  transition: clip-path 0.8s ease-in;
  transition: clip-path 0.8s ease-in, -webkit-clip-path 0.8s ease-in;
}
._main .section02 .grid .card .circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
._main .section02 .grid .card .circle dl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Pretendard";
  font-weight: 600;
  color: #f2f2f4;
}
._main .section02 .grid .card .circle dl dt {
  font-size: 32px;
  letter-spacing: -0.025em;
  line-height: 1.21875;
}
._main .section02 .grid .card .circle dl dd {
  font-size: 14px;
  letter-spacing: -0.025em;
  padding-top: 1em;
  margin-top: 1.5714285714em;
  position: relative;
  color: rgba(242, 242, 244, 0.66);
}
._main .section02 .grid .card .circle dl dd::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2em;
  height: 1px;
  transform: translateX(-50%);
  background: #f2f2f4;
}
._main .section02 .grid .card:hover .circle {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
@media screen and (max-width: 1280px) {
  ._main .section02 .flex {
    gap: 340px;
    padding: 0 5%;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section02 .flex {
    gap: 240px;
    padding: 0 5%;
  }
  ._main .section02 .tbx h1 {
    font-size: 32px;
  }
  ._main .section02 .tbx a {
    font-size: 16px;
  }
  ._main .section02 .grid div {
    border-radius: 20px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section02 .flex {
    padding: 0 2.5%;
  }
}
._main .section03 {
  padding: 184px 162px 147px 202px;
  background: #e2e2e4;
}
._main .section03 .layout + .layout {
  margin-top: 190px;
}
._main .section03 .layout.left .flex .box {
  order: -1;
  text-align: right;
}
._main .section03 .tbx {
  display: flex;
  gap: 165px;
}
._main .section03 .tbx h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 72px;
}
._main .section03 .tbx p {
  position: relative;
  font-family: "Pretendard";
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 28px;
  line-height: 1.25;
}
._main .section03 .tbx p span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
._main .section03 .flex {
  display: flex;
  gap: 23px;
  margin-top: 101px;
}
._main .section03 .flex .swiper {
  position: relative;
  overflow: hidden;
  border-radius: 41px;
  min-width: 0;
  flex: 1;
  /* &::after {
      content: '';
      display: block;
      padding-bottom: calc(607/1079*100%);
  } */
}
._main .section03 .flex .swiper .swiper-slide {
  background: #acf;
  position: relative;
  height: 607px;
}
._main .section03 .flex .swiper .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section03 .flex .box {
  border-radius: 39px;
  background: #e9e9eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 62px 59px;
  flex: 0 0 416px;
  box-sizing: border-box;
  filter: blur(0.5);
}
._main .section03 .flex .box h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.025em;
  color: #3e68ff;
}
._main .section03 .flex .box ul {
  font-size: 18px;
  letter-spacing: -0.025em;
  font-weight: 500;
  font-family: "Pretendard";
}
._main .section03 .flex .box ul li + li {
  margin-top: 17px;
}
._main .section03 .flex .box ul li div {
  padding: 8px 20px 8px 18px;
  background: #dbdcde;
  color: #4b4b4d;
  border-radius: 1000px;
  display: inline-block;
  transition: 0.4s;
  transition-property: color, background;
}
._main .section03 .flex .box ul li:hover div {
  background: #3e68ff;
  color: #f2f2f4;
}
._main .section03 .flex .box ul li.act div {
  background: #3e68ff;
  color: #f2f2f4;
}
._main .section04 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d2d2f;
}
._main .section04 .tbx {
  text-align: center;
  font-size: 42px;
  letter-spacing: -0.025em;
  line-height: 1.3095238095;
  font-weight: 500;
  color: #575759;
  display: flex;
  flex-direction: column;
}
._main .section04 .tbx p {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
._main .section04 .tbx p span {
  color: #f2f2f4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
}
@media screen and (max-width: 1280px) {
  ._main .section04 .tbx {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section04 .tbx {
    font-size: 28px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section04 .tbx {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  ._main .section04 .tbx {
    font-size: 18px;
  }
  ._main .section04 .tbx p {
    word-break: keep-all;
    white-space: normal;
  }
}
._main .section05 {
  padding: 277px 162px 531px 115px;
  background: #f2f2f4;
  overflow: hidden;
  position: relative;
}
._main .section05 .tbx dt {
  font-size: 72px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.025em;
  color: #161618;
}
._main .section05 .tbx dd {
  color: #adadae;
  margin-top: 1.71875em;
  font-size: 32px;
  font-weight: 500;
  font-family: "Pretendard";
  letter-spacing: -0.025em;
  position: relative;
  line-height: 1.1875;
}
._main .section05 .tbx dd span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #3e68ff;
}
._main .section05 .grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
._main .section05 .grid .col {
  position: absolute;
  width: 401px;
  height: 236px;
  background: #acf;
  border-radius: 20px;
}
._main .section06 {
  padding: 315px 0 325px;
  text-align: center;
  background: rgb(62, 104, 255);
  background: linear-gradient(180deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  color: #f2f2f4;
  position: relative;
}
._main .section06 video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: screen;
  pointer-events: none;
}
._main .section06 .tbx dl dt {
  font-size: 22px;
  letter-spacing: -0.025em;
  color: #f2f2f4;
  font-weight: 500;
  font-family: "Pretendard";
  word-break: keep-all;
  line-height: normal;
}
._main .section06 .tbx dl dd {
  font-size: 112px;
  letter-spacing: -0.025em;
  font-family: "Outfit", sans-serif;
  margin-top: 0.4464285714em;
  text-transform: uppercase;
}
._main .section06 .tbx a {
  font-family: "Pretendard";
  font-size: 18px;
  letter-spacing: -0.025em;
  color: #3e61fb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.3333333333em;
  height: 2.3333333333em;
  border-radius: 1.1666666667em;
  background: #f2f2f4;
  margin: 5.5555555556em auto 0;
}
._main .section06 .tbx a i {
  margin-left: 0.6111111111em;
}
@media screen and (max-width: 1280px) {
  ._main .section06 .tbx dl dt {
    font-size: 20px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 92px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section06 .tbx dl dt {
    font-size: 18px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 72px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section06 {
    padding: 195px 0 215px;
  }
  ._main .section06 .tbx dl dt {
    font-size: 16px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 52px;
  }
  ._main .section06 .tbx a {
    font-size: 16px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  ._main .section06 .tbx dl dt {
    font-size: 14px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 32px;
  }
  ._main .section06 .tbx a {
    font-size: 14px;
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */