#top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(-170deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  color: #f2f2f4;
  border-radius: 1000px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  transition-property: opacity, visibility;
}
#top.hide {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 820px) {
  #top {
    width: 50px;
    height: 50px;
    font-size: 18px;
    right: 5%;
    bottom: 5%;
  }
}

._wrap {
  margin: 0 auto;
}
._wrap[max="1860"] {
  max-width: 1860px;
}
@media screen and (max-width: 820px) {
  ._wrap {
    width: 95%;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.4s;
}
.header ._wrap {
  padding: 26px 60px 26px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .depth {
  font-family: "Pretendard" "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025em;
  display: flex;
  gap: 1.1111111111em;
}
.header .depth a {
  width: 5.6666666667em;
  height: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  color: #161618;
  transition: color 0.4s;
}
.header .depth a:nth-of-type(2) {
  width: 5.8888888889em;
}
.header .depth a p {
  position: relative;
  z-index: 2;
}
.header .depth a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgb(62, 104, 255);
  background: linear-gradient(270deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  border-radius: 1000px;
  transition: right 0.4s;
}
.header .depth a:last-child {
  background: #38383a;
  color: #f2f2f4;
}
.header .depth a:hover {
  color: #f2f2f4 !important;
}
.header .depth a:hover::after {
  right: 0;
}
.header .menu {
  position: relative;
  width: 25px;
  height: 15px;
  cursor: pointer;
  display: none;
  z-index: 999;
}
.header .menu div {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #161618;
  transition: 0.4s;
  transition-property: background, top, transform;
  left: 0;
}
.header .menu div:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}
.header .menu div:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header .menu div:nth-of-type(1) {
  top: 100%;
  transform: translateY(-50%);
}
.header .menu.on div {
  background: #161618 !important;
}
.header .menu.on div:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .menu.on div:nth-of-type(2) {
  transform: translateX(100%) translateY(-50%);
  opacity: 0;
}
.header .menu.on div:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header.hide {
  transform: translateY(-100%);
}
.header.hide .mob-menu {
  transition: none !important;
}
.header.on .logo {
  filter: brightness(0) invert(1);
}
.header.on .depth a {
  color: #f2f2f4;
}
.header.on .depth a:last-child {
  background: #f2f2f4;
  color: #212123;
}
.header.on .menu div {
  background: #f2f2f4;
}
@media screen and (max-width: 1280px) {
  .header ._wrap {
    padding: 26px 3.125% 26px 1.5625%;
  }
}
@media screen and (max-width: 1024px) {
  .header .depth {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .header ._wrap {
    padding: 24px 0;
  }
  .header .logo {
    width: 137px;
  }
  .header .depth {
    display: none;
  }
  .header .menu {
    display: block;
  }
}

.mob-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
  max-width: 480px;
  background: #f2f2f4;
  color: #101011;
  box-sizing: border-box;
  padding: 0 2.5%;
  transform: translateX(100%);
  transition: transform 0.4s;
}
.mob-menu.on {
  transform: translateX(0);
}
.mob-menu .mob-depth {
  padding-top: 71px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  height: 100%;
}
.mob-menu .mob-depth a {
  padding: 25px 0;
}
@media screen and (max-width: 480px) {
  .mob-menu .mob-depth {
    font-size: 18px;
  }
}

.footer {
  background: #212123;
  color: #f2f2f4;
  padding: 35px 5.2083333333% 67px 5.46875%;
  box-sizing: border-box;
}
.footer nav {
  font-size: 14px;
  letter-spacing: -0.025em;
  display: flex;
  gap: 10px;
}
.footer nav a {
  color: #7a7b7e;
}
.footer .flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .flex .lt dl dt {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #dfe0e2;
  font-size: 52px;
  display: flex;
  align-items: center;
}
.footer .flex .lt dl dt i {
  margin-right: 0.2115384615em;
}
.footer .flex .lt dl dd {
  font-size: 14px;
  letter-spacing: -0.025em;
  color: #7a7b7e;
  margin-top: 2.0714285714em;
  line-height: normal;
}
.footer .flex .rt {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  gap: 155px;
}
.footer .flex .rt .family {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.025em;
  font-family: "Pretendard";
  width: 11.6428571429em;
  height: 2.9992857143em;
  border: 1px solid #dfe0e2;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c3c3c3;
  cursor: pointer;
}
.footer .flex .rt .family i {
  font-size: 1.2142857143em;
  letter-spacing: -0.025em;
  margin-left: 1.0588235294em;
  display: inline-block;
}
.footer .flex .rt .address {
  display: flex;
  gap: 0 95px;
  font-family: "Pretendard";
  font-size: 17px;
  letter-spacing: -0.025em;
}
.footer .flex .rt .address .l .col {
  gap: 75px;
}
.footer .flex .rt .address .l .col span {
  width: 102px;
}
.footer .flex .rt .address .r .col {
  gap: 86px;
}
.footer .flex .rt .address .r .col span {
  width: 128px;
}
.footer .flex .rt .address .col {
  display: flex;
  color: #7a7b7e;
  line-height: 1.7058823529;
}
.footer .flex .rt .address .col span {
  color: #dfe0e2;
  line-height: 2;
  white-space: nowrap;
}
@media screen and (max-width: 1480px) {
  .footer {
    padding: 35px 2.5% 67px;
  }
  .footer .flex .lt dl dt {
    font-size: 48px;
  }
  .footer .flex .rt .address {
    gap: 45px;
  }
  .footer .flex .rt .address .l .col {
    gap: 35px;
  }
  .footer .flex .rt .address .r .col {
    gap: 35px;
  }
}
@media screen and (max-width: 1280px) {
  .footer .flex .lt dl dt {
    font-size: 38px;
  }
  .footer .flex .rt .address {
    font-size: 14px;
  }
  .footer .flex .rt .address .l .col span {
    width: 85px;
  }
  .footer .flex .rt .address .r .col span {
    width: 108px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .flex {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 50px;
  }
  .footer .flex .lt {
    order: 2;
  }
  .footer .flex .rt {
    align-items: normal;
    gap: 50px;
    margin-top: 50px;
  }
  .footer .flex .rt .family {
    margin-left: auto;
  }
}
@media screen and (max-width: 820px) {
  .footer {
    padding: 50px 2.5%;
  }
  .footer .flex .lt dl dt {
    font-size: 32px;
  }
  .footer .flex .rt .family {
    margin-left: 0;
    margin-right: auto;
  }
  .footer .flex .rt .address {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer .flex .rt .address .l .col {
    gap: 15px;
  }
  .footer .flex .rt .address .l .col span {
    width: 108px;
    flex: 0 0 auto;
  }
  .footer .flex .rt .address .r .col {
    gap: 15px;
  }
}

.ask {
  height: 2.4117647059em;
  width: 8.3529411765em;
  border-radius: 1.1764705882em 1.1764705882em 0 0;
  background: rgb(62, 104, 255);
  background: linear-gradient(325deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  color: #f2f2f4;
  font-size: 17px;
  letter-spacing: -0.025em;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(3em, -50%) rotate(-90deg);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}
.ask i {
  margin-left: 0.8888888889em;
  font-size: 1.0588235294em;
}
@media screen and (max-width: 820px) {
  .ask {
    font-size: 14px;
  }
}

.cursor-point {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  z-index: 999;
  background: rgb(62, 104, 255);
  background: linear-gradient(278deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  pointer-events: none;
}
@media screen and (max-width: 820px) {
  .cursor-point {
    display: none !important;
  }
}

._main {
  max-width: 1920px;
  margin: 0 auto;
}
._main .section01 {
  background: #f2f2f4;
  height: auto;
  position: relative;
  overflow: hidden;
}
._main .section01 .init {
  background: rgb(62, 104, 255);
  background: linear-gradient(180deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
._main .section01 .move {
  position: relative;
  width: 100%;
  z-index: 4;
  background: #f2f2f4;
  -webkit-clip-path: circle(100% at 50% 50vh);
          clip-path: circle(100% at 50% 50vh);
}
._main .section01 .move h1 {
  font-size: 5.625vw;
  letter-spacing: -0.025em;
  color: #161618;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 412px 0 180px;
}
._main .section01 .move .up_scale {
  height: auto;
  width: 100%;
  position: relative;
}
._main .section01 .move .up_scale .scrollDown {
  width: 161px;
  height: 161px;
  background: rgb(62, 104, 255);
  background: linear-gradient(-118deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
._main .section01 .move .up_scale .scrollDown .text {
  background: url(/asset/image/main/scroll_down.png) no-repeat center/cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  animation: wave 10s infinite linear;
}
._main .section01 .move .up_scale .scrollDown .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
._main .section01 .move .up_scale .movie_video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}
._main .section01 .move .up_scale .movie_video .swiper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
._main .section01 .move .up_scale .movie_video video,
._main .section01 .move .up_scale .movie_video iframe,
._main .section01 .move .up_scale .movie_video img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section01 .move .up_scale .movie_video ul {
  position: absolute;
  width: 100%;
  left: 6.09375%;
  bottom: 6.0824742268%;
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-family: "Pretendard";
  letter-spacing: -0.025em;
  font-weight: 600;
  z-index: 5;
}
._main .section01 .move .up_scale .movie_video ul li {
  color: #c6c7c9;
  padding-bottom: 2px;
  font-style: italic;
  cursor: pointer;
  transition: 0.4s;
  transition-property: color, border;
}
._main .section01 .move .up_scale .movie_video ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #f2f2f4;
  transition: width 0.4s;
}
._main .section01 .move .up_scale .movie_video ul li.act {
  color: #f2f2f4;
}
._main .section01 .move .up_scale .movie_video ul li.act::after {
  width: 100%;
}
._main .section01 .move .up_scale .movie_video ul li:hover {
  color: #f2f2f4;
}
._main .section01 .move .up_scale .movie_video ul li:hover::after {
  width: 100%;
}
@media screen and (min-width: 1920px) {
  ._main .section01 .move h1 {
    font-size: 108px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 131px;
    height: 131px;
  }
  ._main .section01 .move h1 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 820px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 111px;
    height: 111px;
  }
  ._main .section01 .move h1 {
    font-size: 8vw;
    padding: 252px 0 130px;
  }
}
@media screen and (max-width: 480px) {
  ._main .section01 .move .up_scale .scrollDown {
    width: 91px;
    height: 91px;
  }
}
._main .section02 {
  background: #28272c;
  height: 105vh;
  position: relative;
  overflow: hidden;
  /* .grid {
      flex: 0 0 auto;
      gap: 36px;
      display: grid;
      align-items: start;
      animation: grid 10s infinite linear;

      @keyframes grid {
          0% {
              transform: translateY(0);
          }
          100% {
              transform: translateY(100%);
          }
      }
  } */
}
._main .section02 .tbx {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #f2f2f4;
}
._main .section02 .tbx h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 82px;
}
._main .section02 .tbx a {
  font-size: 18px;
  letter-spacing: -0.025em;
  width: 7.4438888889em;
  height: 2.3327777778em;
  margin: 1.7777777778em auto 0;
  font-weight: 500;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100px;
}
._main .section02 .tbx a::after {
  content: "";
  border: 1px solid #f2f2f4;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}
._main .section02 .tbx a .poa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}
._main .section02 .tbx a .poa i {
  font-size: 0.8888888889em;
  margin-left: 0.4375em;
  position: relative;
  transform: translateY(5%);
}
._main .section02 .tbx a .over {
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background: rgb(62, 104, 255);
  background: linear-gradient(305deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  transition: 0.4s;
  z-index: 2;
}
._main .section02 .tbx a:hover .over {
  right: 0;
}
._main .section02 .flex {
  display: flex;
  align-items: flex-start;
  gap: 440px;
  padding: 0 8.8541666667%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
._main .section02 .flex .swiper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100%;
  gap: 36px;
}
._main .section02 .flex .swiper .swiper-wrapper {
  height: auto;
  display: flex;
  gap: 36px;
  flex-direction: column;
  animation: up 20s linear infinite;
}
._main .section02 .flex .swiper .swiper-slide {
  flex: 0 0 auto;
  height: auto;
}
._main .section02 .flex .swiper.left .swiper-wrapper {
  animation: up 20s linear infinite reverse;
}
._main .section02 .flex .swiper:hover .swiper-wrapper {
  animation-play-state: paused;
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
._main .section02 .card {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: block;
}
._main .section02 .card::after {
  content: "";
  display: block;
  padding-bottom: 56.2602515036%;
}
._main .section02 .card img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section02 .card .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(25, 25, 25, 0.85);
  width: 102%;
  height: 102%;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  transition: -webkit-clip-path 0.6s;
  transition: clip-path 0.6s;
  transition: clip-path 0.6s, -webkit-clip-path 0.6s;
  /* &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
  } */
}
._main .section02 .card .circle dl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Pretendard";
  font-weight: 600;
  color: #f2f2f4;
}
._main .section02 .card .circle dl dt {
  font-size: 32px;
  letter-spacing: -0.025em;
  line-height: 1.21875;
  white-space: nowrap;
}
._main .section02 .card .circle dl dd {
  font-size: 14px;
  letter-spacing: -0.025em;
  padding-top: 1em;
  margin-top: 1.5714285714em;
  position: relative;
  color: rgba(242, 242, 244, 0.66);
}
._main .section02 .card .circle dl dd::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2em;
  height: 1px;
  transform: translateX(-50%);
  background: #f2f2f4;
}
._main .section02 .card:hover .circle {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
@media screen and (max-width: 1280px) {
  ._main .section02 {
    /* .grid .card .circle dl dt {
        font-size: 28px;
    } */
  }
  ._main .section02 .flex {
    gap: 340px;
    padding: 0 5%;
  }
  ._main .section02 .card .circle dl dt {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section02 {
    /* .grid {
        .card {
            border-radius: 15px;
            .circle dl dt {
                font-size: 24px;
            }
        }
        div {
            border-radius: 20px;
        }
    } */
  }
  ._main .section02 .flex {
    gap: 240px;
    padding: 0 2.5%;
  }
  ._main .section02 .tbx h1 {
    font-size: 32px;
  }
  ._main .section02 .tbx a {
    font-size: 16px;
  }
  ._main .section02 .card {
    border-radius: 15px;
  }
  ._main .section02 .card .circle dl dt {
    font-size: 24px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section02 {
    /* .grid {
        flex: 0 0 auto;
        display: flex;
        width: 100%;

        // &.right {
        //     justify-content: flex-end;
        // }

        .card {
            flex: 0 0 250px;
            .circle dl dt {
                font-size: 20px;
            }
        }
    } */
  }
  ._main .section02 .flex {
    padding: 0;
    gap: 0;
    align-items: normal;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 200px;
    box-sizing: border-box;
  }
  ._main .section02 .flex .swiper {
    height: auto;
    flex: 0 0 auto;
    width: 100%;
    flex-direction: row;
  }
  ._main .section02 .flex .swiper .swiper-wrapper {
    flex-direction: row;
    flex: 0 0 auto;
    width: auto;
    animation: left 20s linear infinite;
  }
  ._main .section02 .flex .swiper .swiper-slide {
    width: 250px;
  }
  ._main .section02 .flex .swiper.left .swiper-wrapper {
    animation: left 20s linear infinite reverse;
  }
  ._main .section02 .flex .swiper:hover .swiper-wrapper {
    animation-play-state: paused;
  }
  @keyframes left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  ._main .section02 .card .circle dl dt {
    font-size: 20px;
  }
}
._main .section03 {
  padding: 184px 0 147px 0;
  background: #e2e2e4;
  position: relative;
  overflow: hidden;
  /*



          @media screen and (max-width : 480px) {

              .layout {
                  .swiper {
                      .swiper-slide {
                          height: 307px;
                      }
                  }    
                  .box {
                      padding: 35px 7.5% 35px;
                      h1 {
                          font-size: 24px;
                      }
                      ul {
                          margin-top: 30px;
                          font-size: 14px;
                      }
                  }
              }

          } */
}
._main .section03 .tbx {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 165px;
  padding: 0 10.4166666667% 101px 10.5208333333%;
}
._main .section03 .tbx h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 72px;
}
._main .section03 .tbx .span {
  position: relative;
  font-family: "Pretendard";
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 28px;
  line-height: 1.25;
  color: #a5a5a9;
}
._main .section03 .tbx .span p {
  position: relative;
}
._main .section03 .tbx .span p span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #3e68ff;
  -webkit-clip-path: inset(0% 100% 0% 0%);
          clip-path: inset(0% 100% 0% 0%);
}
._main .section03 .poa {
  padding: 0 10.4166666667% 0 10.5208333333%;
  position: relative;
}
._main .section03 .poa .cir {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 607px;
}
._main .section03 .poa .cir .curb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 531px;
  border-radius: 1000px;
  background: rgb(62, 104, 255);
  background: linear-gradient(278deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  left: 80%;
}
._main .section03 .poa .cir .curb::after {
  display: block;
  content: "";
  display: block;
  padding-bottom: 100%;
}
._main .section03 .layoutbox + .layoutbox {
  padding-top: 190px;
}
._main .section03 .layoutbox .overlay {
  height: 1821px;
}
._main .section03 .layoutbox.layoutbox3 .overlay {
  height: 2428px;
}
._main .section03 .layout {
  display: flex;
  position: relative;
}
._main .section03 .layout.left .box {
  order: -1;
  text-align: right;
}
._main .section03 .layout.left .circle {
  left: -10%;
}
._main .section03 .layout.left .slide .img {
  transform: translate(-101%);
}
._main .section03 .layout .slide {
  position: relative;
  overflow: hidden;
  min-width: 0;
  flex: 1;
  margin: 0;
  height: 607px;
  border-radius: 41px;
}
._main .section03 .layout .slide .img {
  background: #acf;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translate(101%);
  border-radius: 41px;
  overflow: hidden;
}
._main .section03 .layout .slide .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section03 .layout .slide .img:nth-of-type(1) {
  position: relative;
  z-index: 1;
}
._main .section03 .layout .slide .img:nth-of-type(2) {
  z-index: 2;
}
._main .section03 .layout .slide .img:nth-of-type(3) {
  z-index: 3;
}
._main .section03 .layout .swiper {
  position: relative;
  overflow: hidden;
  border-radius: 41px;
  min-width: 0;
  flex: 1;
  margin: 0;
  padding-right: 22px;
}
._main .section03 .layout .swiper .swiper-slide {
  position: absolute;
  height: 607px;
  border-radius: 41px;
  overflow: hidden;
}
._main .section03 .layout .swiper .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._main .section03 .layout .swiper .swiper-slide:nth-of-type(1) {
  position: relative;
  z-index: 1;
}
._main .section03 .layout .swiper .swiper-slide:nth-of-type(2) {
  z-index: 2;
}
._main .section03 .layout .swiper .swiper-slide:nth-of-type(3) {
  z-index: 3;
}
._main .section03 .layout .swiper .swiper-slide:nth-of-type(4) {
  z-index: 4;
}
._main .section03 .layout .box {
  border-radius: 39px;
  background: rgba(233, 233, 235, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 62px 59px;
  flex: 0 0 416px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
._main .section03 .layout .box h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.025em;
  color: #3e68ff;
}
._main .section03 .layout .box ul {
  font-size: 18px;
  letter-spacing: -0.025em;
  font-weight: 500;
  font-family: "Pretendard";
}
._main .section03 .layout .box ul li + li {
  margin-top: 17px;
}
._main .section03 .layout .box ul li div {
  padding: 8px 20px 8px 18px;
  background: #dbdcde;
  color: #4b4b4d;
  border-radius: 1000px;
  display: inline-block;
  transition: 0.4s;
  transition-property: color, background;
  /* &:hover {
      background: #3e68ff;
      color: $white;
  } */
}
._main .section03 .layout .box ul li.act div {
  background: #3e68ff;
  color: #f2f2f4;
}
._main .section03 .layout .circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90%;
  width: 531px;
  border-radius: 1000px;
  background: rgb(62, 104, 255);
  background: linear-gradient(278deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
}
._main .section03 .layout .circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media screen and (max-width: 1480px) {
  ._main .section03 {
    padding: 184px 0 147px 0;
  }
  ._main .section03 .tbx {
    padding: 0 3% 101px 5%;
  }
  ._main .section03 .poa {
    padding: 0 3% 0 5%;
  }
}
@media screen and (max-width: 1280px) {
  ._main .section03 .tbx {
    gap: 105px;
  }
  ._main .section03 .tbx h1 {
    font-size: 52px;
  }
  ._main .section03 .tbx p {
    font-size: 24px;
  }
  ._main .section03 .poa .cir {
    height: 507px;
  }
  ._main .section03 .poa .cir .curb {
    width: 401px;
  }
  ._main .section03 .layoutbox + .layoutbox {
    padding-top: 150px;
  }
  ._main .section03 .layoutbox .overlay {
    height: 1521px;
  }
  ._main .section03 .layoutbox.layoutbox3 .overlay {
    height: 2028px;
  }
  ._main .section03 .layout .swiper {
    border-radius: 31px;
  }
  ._main .section03 .layout .swiper .swiper-slide {
    height: 507px;
    border-radius: 31px;
  }
  ._main .section03 .layout .box {
    padding: 55px 42px 39px;
    flex: 0 0 326px;
    border-radius: 29px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section03 {
    padding: 184px 0 147px;
  }
  ._main .section03 .poa {
    padding: 0 2.5% 0;
  }
  ._main .section03 .poa .cir {
    height: 407px;
  }
  ._main .section03 .poa .cir .curb {
    width: 261px;
  }
  ._main .section03 .tbx {
    padding: 0 2.5% 101px 0;
    gap: 85px;
  }
  ._main .section03 .tbx h1 {
    font-size: 42px;
  }
  ._main .section03 .tbx p {
    font-size: 20px;
  }
  ._main .section03 .layoutbox + .layoutbox {
    padding-top: 100px;
  }
  ._main .section03 .layoutbox .overlay {
    height: 1221px;
  }
  ._main .section03 .layoutbox.layoutbox3 .overlay {
    height: 1628px;
  }
  ._main .section03 .layout .swiper .swiper-slide {
    height: 407px;
  }
  ._main .section03 .layout .box {
    flex: 0 0 246px;
  }
  ._main .section03 .layout .box h1 {
    font-size: 28px;
  }
  ._main .section03 .layout .box ul {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section03 {
    padding: 147px 2.5% 127px;
  }
  ._main .section03 .poa {
    padding: 0;
  }
  ._main .section03 .poa .cir {
    height: auto;
    top: 13%;
  }
  ._main .section03 .poa .cir .curb {
    position: static;
    width: 201px;
    transform: translateY(0);
    margin-left: 70%;
  }
  ._main .section03 .tbx {
    padding: 0 0 71px 0;
    gap: 25px;
    flex-direction: column;
  }
  ._main .section03 .tbx h1 {
    font-size: 36px;
  }
  ._main .section03 .layoutbox + .layoutbox {
    padding-top: 100px;
  }
  ._main .section03 .layoutbox .overlay {
    display: none;
  }
  ._main .section03 .layout {
    flex-direction: column;
  }
  ._main .section03 .layout.left .box {
    order: 2;
    text-align: left;
  }
  ._main .section03 .layout .swiper {
    padding-right: 0;
  }
  ._main .section03 .layout .swiper .swiper-slide {
    position: static;
  }
  ._main .section03 .layout .box {
    padding: 55px 5% 39px;
  }
  ._main .section03 .layout .box ul {
    margin-top: 50px;
  }
  ._main .section03 .layout .box {
    margin-top: 25px;
  }
}
._main .section04 {
  padding: 435px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d2d2f;
}
._main .section04 .tbx {
  text-align: center;
  font-size: 42px;
  letter-spacing: -0.025em;
  line-height: 1.3095238095;
  font-weight: 500;
  color: #575759;
  display: flex;
  flex-direction: column;
}
._main .section04 .tbx.pc {
  display: none;
}
._main .section04 .tbx.mob {
  display: none;
}
._main .section04 .tbx p {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
._main .section04 .tbx p span {
  color: #f2f2f4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
}
@media screen and (max-width: 1280px) {
  ._main .section04 .tbx {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section04 .tbx {
    font-size: 28px;
  }
}
@media screen and (min-width: 821px) {
  ._main .section04 .tbx.pc {
    display: flex;
  }
}
@media screen and (max-width: 820px) {
  ._main .section04 {
    padding: 235px 0;
  }
  ._main .section04 .tbx {
    font-size: 28px;
  }
  ._main .section04 .tbx.mob {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  ._main .section04 .tbx {
    font-size: 20px;
  }
  ._main .section04 .tbx p {
    word-break: keep-all;
    white-space: normal;
  }
}
._main .section05 {
  background: #f2f2f4;
  position: relative;
  padding: 275px 0 517px;
  overflow: hidden;
}
._main .section05 .tbx {
  z-index: 3;
  padding-left: 6.1458333333%;
  box-sizing: border-box;
}
._main .section05 .tbx dt {
  font-size: 72px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.025em;
  color: #161618;
}
._main .section05 .tbx dd {
  margin-top: 1.71875em;
  font-size: 32px;
  font-weight: 500;
  font-family: "Pretendard";
  letter-spacing: -0.025em;
  line-height: 1.1875;
  position: relative;
  color: #adadae;
}
._main .section05 .tbx dd .p {
  display: inline-block;
}
._main .section05 .tbx dd .p p {
  position: relative;
}
._main .section05 .tbx dd .p span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #3e68ff;
  -webkit-clip-path: inset(0% 100% 0% 0%);
          clip-path: inset(0% 100% 0% 0%);
}
._main .section05 .h-grid {
  /* position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; */
  perspective: 4000px;
  width: 60%;
  margin: 0 auto;
  transform-style: preserve-3d;
  place-items: center;
}
._main .section05 .grid {
  position: relative;
  width: 100%;
  perspective: 4000px;
  transform-style: preserve-3d;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}
._main .section05 .grid .col {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 0%;
  border-radius: 15px;
}
._main .section05 .grid .col img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
._main .section05 .grid .col::after {
  content: "";
  display: block;
  padding-bottom: 56.217718499%;
}
._main .section05 .grid .col:nth-of-type(1) {
  transform: translate3d(-170%, -300%, -2850px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(2) {
  transform: translate3d(50%, 50%, -100px);
}
._main .section05 .grid .col:nth-of-type(3) {
  transform: translate3d(0%, 0%, -1500px);
}
._main .section05 .grid .col:nth-of-type(4) {
  transform: translate3d(80%, 10%, -450px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(5) {
  transform: translate3d(80%, 150%, -200px);
}
._main .section05 .grid .col:nth-of-type(6) {
  transform: translate3d(40%, 50%, -1500px);
}
._main .section05 .grid .col:nth-of-type(7) {
  transform: translate3d(50%, 180%, -50px);
}
._main .section05 .grid .col:nth-of-type(8) {
  transform: translate3d(-250%, 160%, -200px);
}
._main .section05 .grid .col:nth-of-type(9) {
  transform: translate3d(-40%, 140%, -710px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(10) {
  transform: translate3d(-30%, 130%, -200px);
}
._main .section05 .grid .col:nth-of-type(11) {
  transform: translate3d(10%, -100%, -500px);
}
._main .section05 .grid .col:nth-of-type(12) {
  transform: translate3d(-20%, 50%, -100px);
}
._main .section05 .grid .col:nth-of-type(13) {
  transform: translate3d(130%, 150%, -750px) scaleY(1.2) rotateX(330deg);
}
._main .section05 .grid .col:nth-of-type(14) {
  transform: translate3d(0%, 200%, -1000px);
}
._main .section05 .grid .col:nth-of-type(15) {
  transform: translate3d(60%, 190%, -500px);
}
._main .section05 .grid .col:nth-of-type(16) {
  transform: translate3d(60%, 90%, 0) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(17) {
  transform: translate3d(100%, 180%, -400px);
}
._main .section05 .grid .col:nth-of-type(18) {
  transform: translate3d(80%, 270%, -800px);
}
._main .section05 .grid .col:nth-of-type(19) {
  transform: translate3d(220%, 270%, -760px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(20) {
  transform: translate3d(-30%, 110%, 0) rotateX(341deg);
}
._main .section05 .grid .col:nth-of-type(21) {
  transform: translate3d(-90%, 70%, -200px);
}
._main .section05 .grid .col:nth-of-type(22) {
  transform: translate3d(20%, 120%, 0px);
}
._main .section05 .grid .col:nth-of-type(23) {
  transform: translate3d(80%, 420%, -1500px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(24) {
  transform: translate3d(210%, 130%, 0);
}
._main .section05 .grid .col:nth-of-type(25) {
  transform: translate3d(70%, -110%, 0) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(26) {
  transform: translate3d(-20%, 30%, 0);
}
._main .section05 .grid .col:nth-of-type(27) {
  transform: translate3d(-300%, 0%, -1431px) scaleY(1.2) rotateX(342deg);
}
._main .section05 .grid .col:nth-of-type(28) {
  transform: translate3d(200%, 110%, -500px);
}
@media screen and (max-width: 1280px) {
  ._main .section05 .tbx dt {
    font-size: 62px;
  }
  ._main .section05 .tbx dd {
    font-size: 28px;
  }
  ._main .section05 .grid .col {
    border-radius: 22px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section05 {
    padding: 175px 0 411px;
  }
  ._main .section05 .tbx {
    padding-left: 2.5%;
  }
  ._main .section05 .tbx dt {
    font-size: 52px;
  }
  ._main .section05 .tbx dd {
    font-size: 24px;
  }
  ._main .section05 .grid .col {
    border-radius: 10px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section05 {
    padding: 175px 0 211px;
  }
  ._main .section05 .tbx dt {
    font-size: 42px;
  }
  ._main .section05 .tbx dd {
    font-size: 20px;
  }
  ._main .section05 .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  ._main .section05 .grid .col {
    border-radius: 15px;
  }
  ._main .section05 .grid .col:nth-of-type(3) {
    transform: translate3d(150%, 0%, -1410px);
  }
  ._main .section05 .grid .col:nth-of-type(5) {
    transform: translate3d(80%, 180%, -200px);
  }
  ._main .section05 .grid .col:nth-of-type(6) {
    transform: translate3d(200%, 90%, -1000px);
  }
  ._main .section05 .grid .col:nth-of-type(7) {
    transform: translate3d(50%, 180%, -50px);
  }
  ._main .section05 .grid .col:nth-of-type(8) {
    transform: translate3d(-190%, 150%, -250px);
  }
  ._main .section05 .grid .col:nth-of-type(9) {
    transform: translate3d(-40%, 200%, -1110px) scaleY(1.2) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(10) {
    transform: translate3d(-30%, 130%, -200px);
  }
  ._main .section05 .grid .col:nth-of-type(12) {
    transform: translate3d(50%, 100%, -100px);
  }
  ._main .section05 .grid .col:nth-of-type(14) {
    transform: translate3d(0%, 200%, -1000px);
  }
  ._main .section05 .grid .col:nth-of-type(15) {
    transform: translate3d(60%, 190%, -500px);
  }
  ._main .section05 .grid .col:nth-of-type(16) {
    transform: translate3d(-80%, 90%, 0) scaleY(1.2) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(17) {
    transform: translate3d(161%, 240%, 0px);
  }
  ._main .section05 .grid .col:nth-of-type(18) {
    transform: translate3d(80%, 270%, -800px);
  }
  ._main .section05 .grid .col:nth-of-type(19) {
    transform: translate3d(220%, 270%, -760px) scaleY(1.2) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(20) {
    transform: translate3d(-30%, 110%, 0) rotateX(341deg);
  }
  ._main .section05 .grid .col:nth-of-type(21) {
    transform: translate3d(-90%, 70%, -200px);
  }
  ._main .section05 .grid .col:nth-of-type(22) {
    transform: translate3d(20%, 120%, 0px);
  }
  ._main .section05 .grid .col:nth-of-type(23) {
    transform: translate3d(80%, 420%, -1500px) scaleY(1.2) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(24) {
    transform: translate3d(210%, 130%, 0);
  }
  ._main .section05 .grid .col:nth-of-type(25) {
    transform: translate3d(-60%, -40%, 0) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(26) {
    transform: translate3d(-40%, 140%, 0);
  }
  ._main .section05 .grid .col:nth-of-type(27) {
    transform: translate3d(-300%, 0%, -1431px) scaleY(1.2) rotateX(342deg);
  }
  ._main .section05 .grid .col:nth-of-type(28) {
    transform: translate3d(200%, 110%, -500px);
  }
}
@media screen and (max-width: 480px) {
  ._main .section05 .tbx dt {
    font-size: 36px;
  }
  ._main .section05 .tbx dd {
    font-size: 18px;
  }
  ._main .section05 .grid .col {
    border-radius: 10px;
  }
}
._main .section06 {
  padding: 315px 0 325px;
  text-align: center;
  background: rgb(62, 104, 255);
  background: linear-gradient(180deg, rgb(62, 104, 255) 0%, rgb(110, 124, 255) 100%);
  color: #f2f2f4;
  position: relative;
}
._main .section06 video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: screen;
  pointer-events: none;
}
._main .section06 .tbx dl dt {
  font-size: 22px;
  letter-spacing: -0.025em;
  color: #f2f2f4;
  font-weight: 500;
  font-family: "Pretendard";
  word-break: keep-all;
  line-height: normal;
}
._main .section06 .tbx dl dd {
  font-size: 112px;
  letter-spacing: -0.025em;
  font-family: "Geologica Roman";
  margin-top: 0.4464285714em;
  text-transform: uppercase;
}
._main .section06 .tbx dl dd div {
  position: relative;
  display: inline-block;
}
._main .section06 .tbx dl dd p:nth-of-type(1) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
._main .section06 .tbx dl dd p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(/asset/image/main/section06/wave.png);
  background-repeat: repeat-x;
}
@media screen and (max-width: 820px) {
  ._main .section06 .tbx dl dd p:nth-of-type(2) {
    background-size: 150% auto;
  }
}
._main .section06 .tbx a {
  font-family: "Pretendard";
  font-size: 18px;
  letter-spacing: -0.025em;
  color: #3e61fb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.3333333333em;
  height: 2.3333333333em;
  border-radius: 1.1666666667em;
  background: #f2f2f4;
  margin: 5.5555555556em auto 0;
}
._main .section06 .tbx a i {
  margin-left: 0.6111111111em;
}
@media screen and (max-width: 1280px) {
  ._main .section06 .tbx dl dt {
    font-size: 20px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 92px;
  }
}
@media screen and (max-width: 1024px) {
  ._main .section06 .tbx dl dt {
    font-size: 18px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 72px;
  }
}
@media screen and (max-width: 820px) {
  ._main .section06 {
    padding: 195px 0 215px;
  }
  ._main .section06 .tbx dl dt {
    font-size: 16px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 52px;
  }
  ._main .section06 .tbx a {
    font-size: 16px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  ._main .section06 .tbx dl dt {
    font-size: 14px;
  }
  ._main .section06 .tbx dl dd {
    font-size: 32px;
  }
  ._main .section06 .tbx a {
    font-size: 14px;
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */