<header class="header">
    <div 
        class="_wrap" 
        max="1860"
    >

        <div class="logo">
            <a href=""><img src="/asset/image/logo.png" alt=""></a>
        </div>

        <div class="depth">
            <a href="">
                <p>Company</p>
            </a>
            <a href="">
                <p>Reference</p>
            </a>
            <a href="">
                <p>Product</p>
            </a>
            <a href="">
                <p>Solution</p>
            </a>
            <a href="">
                <p>견적상담</p>
            </a>
        </div>

        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</header>