<section class="section02">

    <div class="tbx">
        <h1>Reference</h1>
        <a href="">
            <div class="poa">view more <i class="xi-angle-down"></i></div>
            <div class="over"></div>
        </a>
    </div>

    <div class="flex">
        <div class="swiper left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>그라프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>잠실롯데월드<br/>만다리나덕</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>대한항공</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/onripeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>온리프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/swekswek.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>쉐이크쉑</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>그라프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>잠실롯데월드<br/>만다리나덕</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>대한항공</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>그라프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>잠실롯데월드<br/>만다리나덕</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>대한항공</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/onripeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>온리프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/swekswek.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>쉐이크쉑</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>그라프</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>잠실롯데월드<br/>만다리나덕</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>대한항공</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>한국인터넷<br/>진흥원</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>우영미</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>슈퍼두퍼</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/kakao.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>카카오<br/>모빌리티</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>한국인터넷<br/>진흥원</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>우영미</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>슈퍼두퍼</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/kakao.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>카카오<br/>모빌리티</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>한국인터넷<br/>진흥원</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>우영미</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>슈퍼두퍼</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/kakao.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>카카오<br/>모빌리티</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>한국인터넷<br/>진흥원</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>우영미</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>슈퍼두퍼</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="card">
                        <img src="/asset/image/main/section02/kakao.jpg" alt="">
                        <div class="circle">
                            <dl>
                                <dt>카카오<br/>모빌리티</dt>
                                <dd>상업시설</dd>
                            </dl>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>


<!-- <div class="wave">
    <div class="grid">
        <div class="card">
            <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>그라프</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>잠실롯데월드<br/>만다리나덕</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>대한항공</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/onripeu.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>온리프</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/swekswek.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>쉐이크쉑</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="card">
            <img src="/asset/image/main/section02/geurapeu.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>그라프</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/mandarinadeok.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>잠실롯데월드<br/>만다리나덕</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/daehanhanggong .jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>대한항공</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/onripeu.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>온리프</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/swekswek.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>쉐이크쉑</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="wave">
    <div class="grid">
        <div class="card">
            <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>한국인터넷<br/>진흥원</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>우영미</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>슈퍼두퍼</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/kakao.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>카카오<br/>모빌리티</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="card">
            <img src="/asset/image/main/section02/hanguginteonet.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>한국인터넷<br/>진흥원</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/uyeongmi.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>우영미</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/syupeodupeo.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>슈퍼두퍼</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <img src="/asset/image/main/section02/kakao.jpg" alt="">
            <div class="circle">
                <dl>
                    <dt>카카오<br/>모빌리티</dt>
                    <dd>상업시설</dd>
                </dl>
            </div>
        </div>
    </div>
</div> -->