<section class="section01">

    <div class="init"></div>

    <div class="move">
        <h1>Light up, your life</h1>

        <div class="up_scale">
            <div class="scrollDown">
                <div class="text"></div>
                <div class="icon">
                    <img src="/asset/image/main/down.png" alt="">
                </div>
            </div>
            <div class="movie_video">
                <video src="/asset/video/movie.mp4" autoplay muted loop></video>
                <ul>
                    <li class="act">01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                </ul>
            </div>
        </div>
        
    </div>

</section>