<section class="section03">

    <div class="cursor"></div>
    
    <div class="layout layout1">
        <div class="tbx">
            <h1>Product</h1>
            <div class="span">
                <p>빛으로 만나는 새로운 세상 <span>빛으로 만나는 새로운 세상</span></p>
                <p>화려한 세계, 디스플레이로 만나다.<span>화려한 세계, 디스플레이로 만나다.</span></p>
            </div>
        </div>
        <div class="flex">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/01_LED1실외형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/01_LED2실내형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/01_LED3특수형.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>LED Signage</h1>
                <ul>
                    <li class="act">
                        <div>실외형</div>
                    </li>
                    <li>
                        <div>실내형</div>
                    </li>
                    <li>
                        <div>특수형</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layout left layout2">
        <div class="flex">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/02_LCD1단독형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/02_LCD2메뉴보드.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/02_LCD3비디오월.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>LCD Signage</h1>
                <ul>
                    <li class="act">
                        <div>단독형</div>
                    </li>
                    <li>
                        <div>메뉴보드</div>
                    </li>
                    <li>
                        <div>비디오월</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layout layout3">
        <div class="flex">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/03_키오스크1가로형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/03_키오스크2세로형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/03_키오스크3실외형.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/asset/image/main/section03/03_키오스크4주문제작.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>Kiosk</h1>
                <ul>
                    <li class="act">
                        <div>단독형</div>
                    </li>
                    <li>
                        <div>세로형</div>
                    </li>
                    <li>
                        <div>실외형</div>
                    </li>
                    <li>
                        <div>주문제작</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>