<section class="section05">
    <dl class="tbx">
        <dt>Partners</dt>
        <dd>
            당신이 꿈꾸는 새로운 빛의 세상,<br/>
            JBDISPLAY와 함께
            <span>
                당신이 꿈꾸는 새로운 빛의 세상,<br/>
                JBDISPLAY와 함께
            </span>
        </dd>
    </dl>

    <div class="grid">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

</section>