<section class="section02">

    <div class="tbx">
        <h1>Reference</h1>
        <a href="">view more <i class="xi-angle-down"></i></a>
    </div>

    <div class="flex">
        <div class="grid left">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="grid right">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    
</section>