<section class="section05">

    <dl class="tbx">
        <dt>Partners</dt>
        <dd>
            <div class="p">
                <p>
                    당신이 꿈꾸는 새로운 빛의 세상,
                    <span>당신이 꿈꾸는 새로운 빛의 세상,</span>
                </p>
                <p>
                    JBDISPLAY와 함께
                    <span>JBDISPLAY와 함께</span>
                </p>
            </div>
        </dd>
    </dl>

    <div class="h-grid">
        <div class="grid">
            <div class="col">
                <img src="/asset/image/main/section05/LG.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/가든파이브.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/가톨릭성모병원.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/건국대학교.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/국토해양.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/그라프.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/농협.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/대한항공.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/라마다호텔.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/만다리나덕.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/메가스터디.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/삼성.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/새마을금고.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/샤넬.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/서울드래곤시티.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/쉑쉑버거.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/슈퍼두퍼.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/연세대학교.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/카카오.jpg" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/한국도로공사.jpg" alt="">
            </div>
        </div>
    </div>

</section>