<section class="section06">

    <!-- <video src="/asset/video/jb_contact_mov.mp4" autoplay muted loop playsinline></video> -->

    <div class="tbx">
        <dl>
            <dt>
                DISPLAY 전문기업, JBDISPLAY 와 함께 해보세요!
            </dt>
            <dd>
                <div>
                    <p>Let's get in touch</p>
                    <p>Let's get in touch</p>
                </div>
            </dd>
        </dl>
        <a href="">견적문의 <i class="xi-angle-down"></i></a>
    </div>

</section>