<section class="section05">

    <dl class="tbx">
        <dt>Partners</dt>
        <dd>
            <div class="p">
                <p>
                    당신이 꿈꾸는 새로운 빛의 세상,
                    <span>당신이 꿈꾸는 새로운 빛의 세상,</span>
                </p>
                <p>
                    JBDISPLAY와 함께
                    <span>JBDISPLAY와 함께</span>
                </p>
            </div>
        </dd>
    </dl>

    <div class="h-grid">
        <div class="grid">
            <div class="col">
                <img src="/asset/image/main/section05/GRAFF.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/강강술래_늘봄농원.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/농협.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/대명에너지.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/대한항공.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/라마다호텔.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/리브팜.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/만다리나덕.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/메가스터디.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/바르다김선생.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/비앤빛.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/삼성.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/새움병원.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/서울대학교.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/서울드래곤시티.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/쉐이크쉑.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/슈퍼두퍼.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/양지병원.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/에어프레미아.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/엘지.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/오크밸리.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/온리프.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/우영미.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/조이시티.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/지니스.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/카카오모빌리티.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/코리아나화장품.png" alt="">
            </div>
            <div class="col">
                <img src="/asset/image/main/section05/태그호이어.png" alt="">
            </div>
        </div>
    </div>

</section>