<section class="section03">
                
    <div class="layout">
        <div class="tbx">
            <h1>Product</h1>
            <p>
                빛으로 만나는 새로운 세상<br/>화려한 세계, 디스플레이로 만나다.
                <span>
                    빛으로 만나는 새로운 세상<br/>화려한 세계, 디스플레이로 만나다.
                </span>
            </p>
        </div>
        <div class="flex">
            <div class="img"></div>
            <div class="box">
                <h1>LED Signage</h1>
                <ul>
                    <li>
                        <div>실외형</div>
                    </li>
                    <li>
                        <div>실내형</div>
                    </li>
                    <li>
                        <div>특수형</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layout left">
        <div class="tbx">
            <h1>Product</h1>
        </div>
        <div class="flex">
            <div class="img"></div>
            <div class="box">
                <h1>LED Signage</h1>
                <ul>
                    <li>
                        <div>실외형</div>
                    </li>
                    <li>
                        <div>실내형</div>
                    </li>
                    <li>
                        <div>특수형</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="tbx">
            <h1>Product</h1>
        </div>
        <div class="flex">
            <div class="img"></div>
            <div class="box">
                <h1>LED Signage</h1>
                <ul>
                    <li>
                        <div>실외형</div>
                    </li>
                    <li>
                        <div>실내형</div>
                    </li>
                    <li>
                        <div>특수형</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>